{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>XXIII Olympic Winter Games</span> PyeongChang 2018</h1>
            </div>

            <div>
                <ul>
                    <li><a href="{{ olympics_rank_total_url }}">List of countries by the total number of medals</a></li>
                    <li><a href="{{ olympics_rank_value_url }}">List of countries by the total medal value</a></li>
                </ul>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }

    @media (min-width: 768px) {
        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
